@font-face {
    font-family: bit5x5;
    src: url('fonts/bit5x5.otf')
}

@font-face {
    font-family: bit9x9;
    src: url('fonts/bit9x9.otf')
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #0f0f0f;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: bit5x5, fantasy;
    font-size: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.collapsible-content.inactive {
    display: none;
}

.link-list a {
    color: white;
}

.link-list a:visited {
    color: whitesmoke;
}

.link-list a:hover {
    color: antiquewhite;
    font-weight: bold;
}

p {
    max-width: 600px;
}

.icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-text > *:first-child {
    margin-right: 10px;
}

.mail-icon {
    width: 50px;
    height: 55px;
    background: url("/icons/mail-closed.png") no-repeat center;
    background-size: contain;
}

.mail-icon:hover {
    width: 50px;
    height: 55px;
    background: url("/icons/mail-open.png") no-repeat;
    background-size: contain;
}

.github-icon {
    width: 50px;
    height: 50px;
    background: url("/icons/octocat.gif") no-repeat;
    background-size: contain;
}

.file-icon {
    width: 50px;
    height: 50px;
    background: url("/icons/file-icon.png");
    background-size: contain;
}

.pixel-image {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.subtitle-above {
    font-family: bit5x5, fantasy;
    font-size: 16px;
    margin-bottom: 10px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab {
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    /*border-bottom: aquamarine 3px solid;*/
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: all 0.25s ease-in;
}

.tab:hover {
    background-size: 100% 88%;
    transform: scale(1.1);
}

.tab:not(.inactive) {
    background-size: 100% 88%;
}

h2 {
    margin-bottom: 2px;
}

.sub-text {
    margin-top: 2px;
    color: darkslategray;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#intro-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 20, 0.7), rgba(0, 20, 0, 0)), url("/images/bg.png"), repeat-x;
    /*background-attachment: fixed;*/
    min-height: 520px;
    color: white;
    width: 100%;
}
.big-name {
    font-family: bit5x5, fantasy;
    font-size: 70px;
    text-align: center;
}

.link-list {
    display: flex;
    flex-direction: column;
    font-family: bit9x9, fantasy;
}

.link-list > li {
    transition: all 0.1s ease-in;
}

.link-list > li:hover {
    transform: scale(1.1);
}

/*.info-blocks{*/
/*padding-left: 40px;*/
/*padding-right: 40px;*/
/*display: flex;*/
/*!*width: 100%;*!*/
/*!*flex-wrap: wrap;*!*/
/*flex-direction: column;*/
/*}*/

#me-image{
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 50px;
    border-radius: 50%;
}

.javascript-skills-list {
    margin-left: 20px;
}

.skills-list {
    font-family: bit5x5, fantasy;
}

.skill {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.skill:hover {
    opacity: 1;
    transform: scale(1.05);
}

.skill-meter {
    border-image: url("/images/healthbar.png") 1 2 1 2 fill stretch;
    border-image-width: 6px 12px;
    border-image-outset: 6px 6px;
    flex-grow: 1;
    height: 20px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    color: black;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    margin: 6px 12px;

    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
}

#navbar {
    background: white;
    padding-bottom: 20px;
    font-family: bit5x5, fantasy;
}

.arrow-icon {
    background: url("/icons/arrow.png") no-repeat;
    background-size: contain;
    width: 15px;
    height: 25px;
    margin-right: 10px;
    transform: rotate(90deg);
}

.inactive .arrow-icon {
    transform: rotate(0);
}

#about-skills-block {
    display: flex;
    flex-direction: column;
}

#about-block{
    margin-left: 20px;
    margin-right: 20px;
}

.video {
    width: 100%;
    max-width: 600px;
    outline: 0;
}

@media only screen and (min-width: 500px) {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }
    #about-skills-block{
        align-items: center;
    }
}

@media only screen and (min-width: 300px) {
    .link-list {
        font-size: 20px;
    }
}

.block {
    min-height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (min-width: 888px) {
    #about-skills-block {
        flex-direction: row;
    }

    #about-me-block {
        /*flex:1;*/
    }

    #skills-block {
        /*flex:1;*/
        /*margin-left: 20px;*/
    }
}

.block.inactive {
    display: none !important;
}
